/*
    General Styles
*/

html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom needs to be the same as footer height */
    margin-bottom: 72px;
}

@font-face {
    font-family: "Montserrat";
    src: url('../fonts/montserrat-light.woff2');
    font-weight: normal;
}

@font-face {
    font-family: "Montserrat";
    src: url('../fonts/montserrat-light.woff');
    font-weight: normal;
}

@font-face {
    font-family: "Montserrat";
    src: url('../fonts/montserrat-light.ttf');
    font-weight: normal;
}

p.soft {
    font-size: 0.95em;
    line-height: 1.55;
    color: #747474;
}

p.watermark {
    font-size: 0.95em;
    line-height: 1.5;
    color: #636363;
    opacity: 0.4;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 72px;
}

/*
    Custom Containers
*/

.box-shade {
    margin-bottom: 15px;
    /*padding-bottom: 15px;*/
    background: #000;
    background: rgba(0,0,0,0.3);
    border-radius: 4px;
}

.box-container {
    margin-bottom: 20px;
    padding: 0;
    background: none;
}


.haiku {
    white-space:pre-line;
    line-height: 300%;
}

/*
    Product Styles
*/

.product-box {
    margin-bottom: 15px;
    padding: 0;
    background: #aeaeae;
    background: rgba(184, 184, 184, 0.3);
    border-radius: 4px;
}
.item-thumbnail {
    position: relative;
    overflow: hidden;
    /*background: none;*/
}
.item-caption {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    padding: 0;
    display: none;
    text-align: center;
    background: rgba(152, 151, 153, 0.73);
    color: #fff !important;
    z-index: 2;
}
.view-details {
    position:relative;
    top:25%;
    width:90%
}

/*
    Shopping Cart
*/

.dropdown-menu {
    /* Position cart dropdown left of icon */
    position: absolute;
    top: 150%;
    width:300px;
    left: -225px;
    /*right: 225px;*/
    z-index: 1001;
    display: none;
    float: right;
    min-width: 200px;
    padding: 20px 10px;
    margin: 0 0 0;
    list-style: none;
}
.cart-toggle {
    position: relative;
    top: 12px;
    background: none;
    opacity: .1;
}
.badge-cart {
    position:relative;
    left:10px;
}

/*
    Error Pages
*/

.error-template {
    padding: 15px 15px;
    text-align: center;
}
.error-actions {
    margin-top:15px;
    margin-bottom:15px;
}
.error-actions .btn {
    margin-right:10px;
}

@media screen and (max-width:768px) {
    .haiku {
        line-height: 125%;
        font-size: medium;
        font-weight: lighter;
    }
}