/*
    General Styles
*/

html {
    position: relative;
    min-height: 100%;
}

body {
    font-family: "Montserrat","Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
    background: url('../img/app/bg_20.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    /* Margin bottom needs to be the same as footer height */
    padding-top: 72px;
    margin-bottom: 72px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-transform: uppercase;
    font-family:"Montserrat","Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
    letter-spacing: 1px;
}

th {
    background-color: #ffffff;
}

@font-face {
    font-family: "Montserrat";
    src: url('../fonts/montserrat-light.woff2');
    font-weight: normal;
}

@font-face {
    font-family: "Montserrat";
    src: url('../fonts/montserrat-light.woff');
    font-weight: normal;
}

@font-face {
    font-family: "Montserrat";
    src: url('../fonts/montserrat-light.ttf');
    font-weight: normal;
}

p {
    font-size: 1.05em;
    line-height: 1.5;
    color: #000;
}

p.soft {
    font-size: 0.95em;
    line-height: 1.55;
    color: #747474;
}

p.watermark {
    font-size: 0.95em;
    line-height: 1.5;
    color: #636363;
    opacity: 0.4;
}

hr {
    max-width: 400px;
    border-color: #999999;
}

img {
    border-radius: 3px;
    /* Firefox images weren't scaling like expected */
    max-width: 100%;
    height: auto;
    width:100%;
}
.img-border {
    float: none;
    margin: 0 auto 0;
    border: #999999 solid 1px;
}
.img-left {
    float: none;
    margin: 0 auto 0;
}

footer {
    background: #fff;
    background: rgba(255,255,255,0.9);
}

footer p {
    margin: 0;
    padding: 25px 0;
    /*opacity: 0.5;*/
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 72px;
}

.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
  background-color: #fffbf4;
}

a[disabled] {
    color: gray;
}

/*
    Custom Containers
*/

.container-fluid {
    width: 90%;
}
.box-shade {
    margin-bottom: 15px;
    /*padding-bottom: 15px;*/
    background: #000;
    background: rgba(0,0,0,0.3);
    border-radius: 4px;
}
.box-container {
    margin-bottom: 20px;
    padding: 0;
    background: none;
}
.brand,
.address-bar {
    display: none;
}

.navbar-brand {
    text-transform: uppercase;
    font-weight: 900;
    letter-spacing: -1px;
}

.navbar-nav {
    /*text-transform: uppercase;*/
    font-weight: 400;
    letter-spacing: 2px;
}

.img-full {
    min-width: 100%;
}

.brand-before,
.brand-name {
    text-transform: capitalize;
}

.brand-before {
    margin: 15px 0;
}

.brand-name {
    margin: 0;
    font-size: 4em;
}

.tagline-divider {
    margin: 15px auto 3px;
    max-width: 250px;
    border-color: #999999;
}

.box {
    margin-bottom: 20px;
    padding: 30px 15px;
    background: #fff;
    background: rgba(255,255,255,0.9);
    border-radius: 4px;
}

.intro-text {
    text-transform: uppercase;
    font-size: 1.25em;
    font-weight: 400;
    letter-spacing: 1px;
}

.gallery-item {
    /*margin-bottom: 25px;*/
    padding: 5px;
}
.haiku {
    white-space:pre-line;
    line-height: 300%;
}

/*
    Shop Styles
*/

.store-grid {
    padding: 25px;
    margin: 0 auto;
}
.store-item {
    float: left;
    max-width: 250px;
    /*height: 100px;*/
    margin-bottom: 10px;
    background: #aeaeae;
    background: rgba(184, 184, 184, 0.3);
    border-radius: 4px;
}

.item-thumbnail {
    position: relative;
    overflow: hidden;
    /*background: none;*/
}
.item-caption {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    padding: 0;
    display: none;
    text-align: center;
    background: rgba(255, 255, 255, 0.75);
    color: #464646 !important;
    z-index: 2;
    border-radius: 4px;
}
.view-details {
    position:relative;
    top:25%;
    width:90%
}
.category-button {
    background:none!important;
    border:none;
    padding:0!important;
    width: 150px;
    height: 75px;
    font: inherit;
}
.quick-add-cart {
    position: relative;
    top: 120px;
    left: 95px;
}
.gallery-logo {
    font-size: 50px;
    padding: 50px;
}
.qty-btn {
    background-color: darkgray;
    border-color: #868686;
    color: white;
}
.qty-btn:hover {
    background-color: darkgreen;
    color: white;
}
.facebook-btn {
    height: 28px;
    margin-top: -20px;
    position: relative;
    vertical-align: middle;
    line-height: 0;
    border-radius: 2px;
}
.facebook-btn i {
    color: #3b5998;
}
a.facebook-btn:hover {
    background-color: white;
}



/*
    Shopping Cart
*/

/* Cart Checkout */
#cart-summary {
    margin-right: 25px;
    margin-bottom: 10px;
}
.cart-dropdown {
    position: absolute;;
    top: -5px;
    right: 60px;

}


.cart-info {
    color: darkgray;
    position: relative;
    top: 5px;
}
span.cart-button {
    position:relative;
    bottom:4px
}

.tooltip.left .tooltip-inner {
    background-color: gray;
}
.tooltip.left .tooltip-arrow {
    /*border-top-color: gray;*/
    /*background-color: gray;*/
    color: gray;
}

.table-condensed {
    border-spacing: 4px;
    border-collapse: separate;
}

.table-condensed td.title {
    background:#ebeaec;
    border-radius: 4px;
    width: 200px;
}

.table-condensed td.value {
    background: #fbfafc;
    border-radius: 4px;
    width: 100px;
}

/* change breadcrumb separator to white triangle */
.breadcrumb > li + li:before {
     content: "\25B7";
     color: #aaa;
}

/* Cart Dropdown */
.cart-dropdown-menu {
    /* Position cart dropdown left of icon */
    position: absolute;
    top: 150%;
    width:300px;
    left: -225px;
    /*right: 225px;*/
    z-index: 1001;
    display: none;
    float: right;
    min-width: 200px;
    padding: 20px 10px;
    margin: 0 0 0;
    list-style: none;
}
.cart-toggle {
    position: relative;
    top: 12px;
    background: none;
    opacity: .1;
}
.cart-badge {
    position:relative;
    left:10px;
}

i.cart-remove {
    color: #ff7b7e;
    -o-transition:color .4s ease-out, background 2s ease-in;
    -ms-transition:color .4s ease-out, background 2s ease-in;
    -moz-transition:color .4s ease-out, background 2s ease-in;
    -webkit-transition:color .4s ease-out, background 2s ease-in;
    /* ...and now override with proper CSS property */
    transition:color .4s ease-out, background 2s ease-in;
}
i.cart-remove:hover {
    color: #b00000;
}
i.add-cart-btn {
    color: #464646;
    -o-transition:color .4s ease-out, background 2s ease-in;
    -ms-transition:color .4s ease-out, background 2s ease-in;
    -moz-transition:color .4s ease-out, background 2s ease-in;
    -webkit-transition:color .4s ease-out, background 2s ease-in;
    /* ...and now override with proper CSS property */
    transition:color .4s ease-out, background 2s ease-in;
}
i.add-cart-btn:hover {
    color: darkgreen;
}
i.cart-qty {
    color: darkgray;
    -o-transition:color .4s ease-out, background 2s ease-in;
    -ms-transition:color .4s ease-out, background 2s ease-in;
    -moz-transition:color .4s ease-out, background 2s ease-in;
    -webkit-transition:color .4s ease-out, background 2s ease-in;
    /* ...and now override with proper CSS property */
    transition:color .4s ease-out, background 2s ease-in;
}
i.cart-qty:hover {
    color: darkgreen;
}


/*
    Error Pages
*/

.error-template {
    padding: 15px 15px;
    text-align: center;
}
.error-actions {
    margin-top:15px;
    margin-bottom:15px;
}
.error-actions .btn {
    margin-right:10px;
}

@media screen and (min-width:768px) {
    .brand {
        display: inherit;
        margin: 0;
        padding: 5px 0 5px;
        text-align: center;
        text-shadow: 1px 1px 2px rgba(0,0,0,0.5);
        font-family: "Montserrat","Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
        font-size: 4em;
        font-weight: 400;
        line-height: normal;
        color: #fff;
    }

    .top-divider {
        margin-top: 0;
    }

    .img-left {
        float: left;
        margin-right: 25px;
    }

    .address-bar {
        display: inherit;
        margin: 0;
        padding: 0 0 20px;
        text-align: center;
        text-shadow: 1px 1px 2px rgba(0,0,0,0.5);
        text-transform: uppercase;
        font-size: 1.25em;
        font-weight: 400;
        letter-spacing: 3px;
        color: #fff;
    }

    .navbar {
        border-radius: 0;
    }

    .navbar-header {
        display: none;
    }

    .navbar {
        min-height: 0;
    }

    .navbar-default {
        border: none;
        background: #fff;
        background: rgba(255,255,255,0.9);
    }

    .nav>li>a {
        /*padding: 20px 10px 20px 10px;*/
        padding: 20px;
    }

    .navbar-nav>li>a {
        line-height: normal;
    }

    .navbar-nav {
        display: table;
        float: none;
        margin: 0 auto;
        table-layout: fixed;
        font-size: 1.25em;
    }
}

@media screen and (max-width:768px) {
    .haiku {
        line-height: 125%;
        font-size: medium;
        font-weight: lighter;
    }
    .container-fluid {
        width: 100%;
    }

    /*.category-button {*/
        /*background:none!important;*/
        /*border:none;*/
        /*padding:0!important;*/
        /*width: 100px;*/
        /*height: 50px;*/
        /*font: inherit;*/
    /*}*/
}

@media only screen and (min-device-width : 320px) and (max-device-width : 568px) {
    body, html {
        font-size: small;
    }

    h1,
    h2,
    h3 {
        font-size:medium;
    }
    h4,
    h5,
    h6 {
        font-size:small;
        letter-spacing: 0;
    }

    .box {
        width: 100%;
        padding: 5px;
    }
    .container {
        width: 100%
    }
    .container-fluid {
        width: 100%;
    }
    .box-container {
        width: 100%;
    }

    .store-grid {
        padding: 10px 0 5px 0;
    }

    /*.category-button {*/
        /*background: none!important;*/
        /*border: none;*/
        /*padding: 0!important;*/
        /*width: 50px;*/
        /*height: 25px;*/
    /*}*/

    .cart-dropdown {
        position: absolute;;
        top: -5px;
        right: 60px;

    }
    .cart-dropdown-menu {
        width:250px;
        left: -225px;
    }
    #cart-summary {
        margin-left: 15px;
        margin-bottom: 10px;
    }
    a.cart-button {
        font-size:smaller;
        width: 50%;
    }
    span.cart-button {
        bottom:0;
    }
    .breadcrumb {
        padding:0 0 0 10px;
        margin-top: 0;
    }


    /*.cart-table {*/
        /*width: 100%;*/
    /*}*/
    /*/!*.cart-table td {*!/*/
        /*/!*width: 100%;*!/*/
        /*/!*margin-left: 20px;*!/*/
    /*/!*}*!/*/
    /*/!* Zebra striping *!/*/
    /*.cart-table tr:nth-of-type(odd) {*/
      /*background: #eee;*/
    /*}*/

    /*/!* Force table to not be like tables anymore *!/*/
    /*.cart-table table,*/
    /*.cart-table thead,*/
    /*.cart-table tbody,*/
    /*.cart-table th,*/
    /*.cart-table td,*/
    /*.cart-table tr {*/
		/*display: block;*/
    /*}*/

    /*/!* Hide table headers (but not display: none;, for accessibility) *!/*/
    /*thead tr {*/
		/*position: absolute;*/
		/*top: -9999px;*/
		/*left: -9999px;*/
    /*}*/

    /*tr { border: 1px solid #ccc; }*/

    /*td {*/
		/*/!* Behave  like a "row" *!/*/
        /*width: 90%;*/
		/*border: none;*/
		/*border-bottom: 1px solid #eee;*/
		/*position: relative;*/
		/*padding-left: 50%;*/
    /*}*/

    /*td:before {*/
		/*/!* Now like a table header *!/*/
		/*position: absolute;*/
		/*/!* Top/left values mimic padding *!/*/
		/*top: 6px;*/
		/*left: 6px;*/
		/*width: 45%;*/
		/*padding-right: 10px;*/
		/*white-space: nowrap;*/
    /*}*/

    /*/!**/
    /*Label the data*/
    /**!/*/
    /*td:nth-of-type(1):before { content: ""; }*/
    /*td:nth-of-type(2):before { content: ""; }*/
    /*td:nth-of-type(3):before { content: ""; }*/
    /*td:nth-of-type(4):before { content: "Decrease"; }*/
    /*td:nth-of-type(5):before { content: "Quantity"; }*/
    /*td:nth-of-type(6):before { content: "Increase"; }*/
    /*td:nth-of-type(7):before { content: "Subtotal"; }*/
    /*td:nth-of-type(8):before { content: "Remove"; }*/

    /*td.title {*/
        /*display:block;*/
        /*width: 200px;*/
    /*}*/
}


@media screen and (min-width:1200px) {
    .box:after {
        content: '';
        display: table;
        clear: both;
    }
    .container-fluid {
        width: 85%;
        max-width: 1200px;
    }
    .container {
        max-width: 1200px;
    }
}
