{% extends "admin/master.html" %}

{% block content %}

    <h3 class="text-center">Rocky Image Admin</h3>

    <div class="row">
{#        <button class="btn btn-default" id="toggle-dropzone-btn"#}
{#                onclick="toggle_dropzone()" style="margin-bottom:10px">Upload Images</button>#}

        <div class="container" id="dropzone-area" style="max-width:1040px">
            <form action="/admin/image/upload?product_id={{ gallery.id }}"
                  class="dropzone" id="image-dropzone" method="post">
            </form>
        </div>
    </div>


    <div class="container well text-center" style="max-width:1040px">
        <div class="row">
            <div class="product-image-grid">
            {% for img in images %}
                <div class="product-image item-thumbnail text-center">
                    <img alt="image" class="img-responsive"
                         src="{{ url_for('static', filename=img.thumb_path) }}">

                    <form class="text-right" id="removeImage" role="form" method="post"
                          action="/admin/image/{{ img.id }}/remove?redirect=/admin/images">
                        <button type="submit" style="background:none!important; border:none; padding:5px!important;">
                            <i class="fa fa-times-circle-o fa-inverse fa-3x image-remove"></i>
                        </button>
                    </form>

                    <div style="margin-top: -30px">
                        <span style="display:inline">
                            <a class="btn" href="javascript:" onclick="toggle_gallery({{ img.id }})">
                                <i class="fa fa-picture-o fa-inverse fa-2x image-set" id="image-gallery{{ img.id }}"
                                   {% if img.gallery_image %}
                                        style="color:forestgreen"
                                   {% endif %} ></i>
                            </a>
                            <span style="color:white">Gallery</span>
                        </span>
                    </div>

                </div>
            {% endfor %}
            </div>
        </div>
    </div>

{% endblock %}
