{% extends "base.html" %}

{% block content %}

<div class="box" style="padding:0;">
    <div class="row">
        <div class="col-lg-12">
            <h3 class="text-center" style="margin-bottom: -15px">
                <i class="fa fa-cart-arrow-down" style="color:darkgray"></i> Shopping Cart
            </h3>
            <hr>
            <ol class="breadcrumb" style="padding:0 0 0 15px; margin-top: -15px">
                <li><a href="{{ url_for('main.index') }}">Home</a></li>
                <li><a href="{{ url_for('main.shop') }}">Back to Shop</a></li>
                <li class="active">Cart</li>
            </ol>
        </div>
    </div>
</div>

<div id="desktop-cart" class="box">
    <div class="table-responsive" style="margin-bottom:-35px">
        <div class="simpleCart_items"></div>
    </div>

    <hr style="opacity:0.4">

    <div class="row">
        <table id="cart-summary" class="table-condensed pull-right">
            <tr>
                <td class="title">Cart Subtotal</td>
                <td class="simpleCart_total value"></td>
            </tr>
            <tr>
                <td class="title">Shipping</td>
                <td>FREE</td>
{#                <td class="simpleCart_shipping"></td>#}
            </tr>
            <tr>
                <td class="title">Order Total</td>
                <td class="simpleCart_grandTotal"></td>
            </tr>
        </table>
    </div>

    <div class="row">
        <p class="text-right" style="padding-right: 25px">
            <a id="transaction-button" href="javascript:" data-toggle='tooltip' data-placement="left"
               title='For all our sakes, none of your financial information is stored on this site. Transactions happen securely through Paypal.'>
                <i class="fa fa-info-circle fa-2x cart-info"></i>
            </a>
            <a href="javascript:" class="simpleCart_empty btn btn-default">
                <span class="cart-button">Empty Cart</span>
                <i class="fa fa-trash-o fa-2x cart-button"></i>
            </a>
            <a href="javascript:" onclick="show_spinner()" class="simpleCart_checkout btn btn-primary">
                <span class="cart-button">Checkout with</span>
                <i id="checkout_icon" class="fa fa-cc-paypal fa-2x cart-button"></i>
            </a>
        </p>
    </div>
    <p id="transaction-text" class="small">*Transaction processed securely via PayPal</p>
</div>

{#<div id="mobile-cart">#}
{#</div>#}

{# Empty Cart Modal #}
<div id="empty-cart" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" style="height:65px">
                <button type="button" class="close" data-dismiss="modal"><i class="fa fa-times-circle-o fa-2x"></i></button>
            </div>
            <div class="modal-body text-center">
                <p>Empty your shopping cart?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Cancel</button>
                <button type="submit" class="simpleCart_empty btn btn-default">Yes</button>
            </div>
        </div>
    </div>
</div>

{% endblock %}
