{% extends "base.html" %}

{% block content %}

<div class="container" style="padding:20px;">
    <div class="row">
        <div class="col-lg-12 text-right">
            <a href="{{ url_for('main.gallery', c='jewelry') }}" class="btn btn-default
                {% if c=='jewelry' %}active{% endif %}">Jewelry</a>
            <a href="{{ url_for('main.gallery', c='drawings') }}" class="btn btn-default
                {% if c=='drawings' %}active{% endif %}">Drawings</a>
        </div>
    </div>
</div>

<!-- Populate gallery elements -->
<div class="box" align="center">
    <div id="links">
        {% for i in imgs %}
            <a href="{{ url_for('static', filename='img/gallery/full/%s' % i) }}" title="" data-gallery>
                <img src="{{ url_for('static', filename='img/gallery/thumb/%s' % i) }}" alt="">
            </a>
        {% endfor %}
    </div>
</div>

<!-- The Bootstrap Image Gallery lightbox, should be a child element of the document body -->
<div id="blueimp-gallery" class="blueimp-gallery blueimp-gallery-controls">
    <!-- The container for the modal slides -->
    <div class="slides"></div>
    <!-- Controls for the borderless lightbox -->
    <h3 class="title"></h3>
    <a class="prev">‹</a>
    <a class="next">›</a>
    <a class="close">×</a>
    <a class="play-pause"></a>
    <ol class="indicator"></ol>
    <!-- The modal dialog, which will be used to wrap the lightbox content -->
    <div class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" aria-hidden="true">&times;</button>
                    <h4 class="modal-title"></h4>
                </div>
                <div class="modal-body next"></div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default pull-left prev">
                        <i class="glyphicon glyphicon-chevron-left"></i>
                        Previous
                    </button>
                    <button type="button" class="btn btn-primary next">
                        Next
                        <i class="glyphicon glyphicon-chevron-right"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

{##}
{#<div class="box">#}
{#    <div class="row">#}
{#    {% for i in range(1, 9) %}#}
{#        <div class="col-md-3 gallery-item">#}
{#            <a data-toggle="modal" data-target="{{ '#modal%s' % i }}">#}
{#                <img class="img-responsive" src="{{ url_for('static', filename='img/gallery/thumb/j%s.jpg' % i) }}" alt="">#}
{#            </a>#}
{#        </div>#}
{#    {% if i % 4 == 0 %}#}
        {# start a new row every 4 items #}
{#        </div>#}
{#        <div class="row">#}
{#    {% endif %}#}
{#    {% endfor %}#}
{#    </div>#}
{#</div>#}
{##}
{#<!-- Modal -->#}
{#{% for i in range(1, 9) %}#}
{#    <div class="modal fade" id="{{ 'modal%s' % i }}" tabindex="-1" role="img" aria-labelledby="LABEL" aria-hidden="true">#}
{#      <div class="modal-dialog">#}
{#        <div class="modal-content">#}
{#          <div class="modal-header">#}
{#            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>#}
{#            <h4 class="modal-title" id="myModalLabel">ITEM DETAILS</h4>#}
{#          </div>#}
{#          <div class="modal-body">#}
{#            <img class="img-responsive" src="{{ url_for('static', filename='img/gallery/full/j%s.jpg' % i) }}" alt="">#}
{#          </div>#}
{#          <div class="modal-footer">#}
{#            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>#}
{#            <button type="button" class="btn btn-primary">Save changes</button>#}
{#          </div>#}
{#        </div><!-- /.modal-content -->#}
{#      </div><!-- /.modal-dialog -->#}
{#    </div><!-- /.modal -->#}
{#{% endfor %}#}

<div class="box">
    <div class="row">
        <div class="col-lg-12 text-center">
            <p>If you are interested in anything you see or want to discuss a custom piece, please <a href="{{ url_for('main.contact') }}">contact me</a>. Online sales coming soon!</p>
        </div>
    </div>
</div>

{#<hr>#}

<!-- Pagination -->
{#<div class="row text-center">#}
{#    <div class="col-lg-12">#}
{#        <ul class="pagination">#}
{#            <li>#}
{#                <a data-toggle="modal" data-target="#myModal">&laquo;</a>#}
{#            </li>#}
{#            <li class="active">#}
{#                <a data-toggle="modal" data-target="#myModal">1</a>#}
{#            </li>#}
{#            <li>#}
{#                <a data-toggle="modal" data-target="#myModal">2</a>#}
{#            </li>#}
{#            <li>#}
{#                <a data-toggle="modal" data-target="#myModal">3</a>#}
{#            </li>#}
{#            <li>#}
{#                <a data-toggle="modal" data-target="#myModal">4</a>#}
{#            </li>#}
{#            <li>#}
{#                <a data-toggle="modal" data-target="#myModal">5</a>#}
{#            </li>#}
{#            <li>#}
{#                <a data-toggle="modal" data-target="#myModal">&raquo;</a>#}
{#            </li>#}
{#        </ul>#}
{#    </div>#}
{#</div>#}
<!-- /.row -->

{% endblock %}
