{% extends "base.html" %}

{% block content %}

<div class="row">
    <div class="box-shade">
        <div class="brand" style="opacity: 0.9;">Rocky Pardo Art</div>
        <div class="address-bar heading">Fine Jewelry | Edwardsville IL, 62025 | 314.630.8983</div>
    </div>
</div>

<div class="row">
    <div class="box">
        <div class="col-lg-12 text-center">
            <div id="carousel-main" class="carousel slide">
                <!-- Indicators -->
                <ol class="carousel-indicators hidden-xs">
                    {% for image in carousel_images %}
                        <li data-target="#carousel-main" data-slide-to="{{ loop.index }}"
                            {% if loop.index0 == 0 %} class="active" {% endif %}></li>
                    {% endfor %}
                </ol>

                <!-- Wrapper for slides -->
                <div class="carousel-inner">
                    {% for image in carousel_images %}
                        <div class="item {% if loop.index0 == 0 %} active {% endif %} }">
                            <img class="img-responsive img-full"
                                 src={{ url_for('static', filename=image) }}>
                        </div>
                    {% endfor %}
                </div>

                <!-- Controls -->
                <a class="left carousel-control" href="#carousel-main" data-slide="prev">
                    <span class="icon-prev"></span>
                </a>
                <a class="right carousel-control" href="#carousel-main" data-slide="next">
                    <span class="icon-next"></span>
                </a>
            </div>

        </div>
    </div>
</div>

<div id="about" class="row">
    <div class="box">
        <div class="col-lg-12">
            <hr>
            <h2 class="intro-text text-center">About <strong>Me</strong></h2>
            <hr>
            <img class="img-responsive img-border img-left" src="{{ url_for('static', filename='img/app/studio2_200x150.jpg') }}" style="max-width:200px" alt="studio">
            <hr class="visible-xs">
            <p>My name is Rocky. I live and create in Edwardsville, Illinois amidst fruit trees, a feisty pup, and a hop farm. I received a BFA in metalsmithing at Southern Illinois University Edwardsville. I absolutely love what I do and I especially love creating jewelry. I hope you enjoy my work.</p>
            <br><br>
        </div>
    </div>
</div>

<div class="row">
    <div class="box">
        <div class="col-lg-12 text-left">
            <hr>
            <h2 class="intro-text text-center">Artist <strong>Statement</strong></h2>
            <hr>
            <p>My fascination with the minutia within a grand whole is one of the drives behind my art. I relish in the little observed, hard to find, quiet and lavishly ornate beauties of the small and insignificant; or “unevents” as I see them. I examine the world as if to hold every dust mite and sand grain under a microscope, breaking down the smallest into even smaller. It is from that point that I then create my art ...</p>
            <div class="text-center"><a href="{{ url_for('main.statement') }}" class="btn btn-default btn-sm">Read More</a></div>
        </div>
    </div>
</div>

{% endblock %}
<script>
$(document).ready(function() {
    <!-- Activate Index Carousel -->
    $('.carousel').carousel({
        interval: 5000 //changes the speed
    })
});
</script>

