{% extends "base.html" %}

{% block content %}

{#  response.js setup  #}
<body data-responsejs='{
  "create": [{
    "prop": "width",
    "prefix": "min-width- r src",
    "breakpoints": [0, 320, 481, 641, 961, 1025, 1281]
  }]
}'>

    <style>
    .category-button {
        background:none!important;
        border:none;
        padding:0!important;
        width: 150px;
        height: 75px;
        font: inherit;
{#        position: relative;#}
{#        overflow: hidden;#}
    }
    .quick-add-cart {
        position: relative;
        top: 120px;
        left: 95px;
    }
    </style>

{# TODO create mobile view for category header #}

<!-- Shop Categories -->

<div class="box-container">
    <div class="row text-center">
        <div class="col-md-1"></div>
        <div class="button-group filter-button-group">
            <div class="col-md-2 col-xs-2">
                <button data-filter=".necklace" class="item-thumbnail category-button">
                    <img class="img-rounded img-responsive" src="{{ url_for('static', filename='img/gallery/necklaces.jpg') }}">
                    <div class="item-caption">
                        <h4>Necklaces</h4>
                    </div>
                </button>

            </div>
            <div class="col-md-2 col-xs-2">
                <button data-filter=".earring" class="item-thumbnail category-button">
                    <img class="img-rounded img-responsive" src="{{ url_for('static', filename='img/gallery/earings.jpg') }}">
                    <div class="item-caption">
                        <h4>Earrings</h4>
                    </div>
                </button>
            </div>
            <div class="col-md-2 col-xs-2">
                <button data-filter=".ring" class="item-thumbnail category-button">
                    <img class="img-rounded img-responsive" src="{{ url_for('static', filename='img/gallery/rings.jpg') }}">
                    <div class="item-caption">
                        <h4>Rings</h4>
                    </div>
                </button>
            </div>
            <div class="col-md-2 col-xs-2">
                <button data-filter=".bracelet" class="item-thumbnail category-button">
                    <img class="img-rounded img-responsive" src="{{ url_for('static', filename='img/gallery/necklaces.jpg') }}">
                    <div class="item-caption">
                        <h4>Bracelets</h4>
                    </div>
                </button>
            </div>
            <div class="col-md-2 col-xs-2">
                <button type="button" class="item-thumbnail category-button" data-toggle="modal" data-target="#galleryModal">
                    <img class="img-rounded img-responsive" src="{{ url_for('static', filename='img/gallery/earings.jpg') }}">
                    <div class="item-caption">
                        <h4>Gallery</h4>
                    </div>
                </button>
            </div>
            <div class="col-md-1"></div>
        </div>
    </div>
</div>


{#<div#}
{#  data-min-width-320='{% include "shop-categories-sm.html" %}'#}
{#  data-min-width-961='{% include "shop-categories-lg.html" %}'#}
{#>#}
{#  text-only @ <320px and no-js#}
{#</div>#}


<!-- Modal -->
<div id="galleryModal" class="modal fade" role="dialog">
  <div class="modal-dialog modal-lg">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Gallery</h4>
      </div>
      <div class="modal-body">
        <p>The gallery contains items that have been previously sold, created for pleasure, and some for keeps.
            I would love to help you with your next custom piece, and I hope these images help to spark your creative genius.
        </p>
      </div>
      <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-gallery>View Gallery</button>
          <button type="button" class="btn btn-default" data-dismiss="modal">Continue Shopping</button>
      </div>
    </div>

  </div>
</div>



<div class="box">
    <div class="button-group sort-by-button-group">
        <p>Sort by:
            <button class="btn btn-default" data-sort-by="price">price</button>
            <button class="btn btn-default" data-sort-by="date">newness</button>
        </p>
    </div>

    <div class="store-grid">
    {% for item in items %}
        <div class="store-item simpleCart_shelfItem {{ item.category }} item-thumbnail text-center" data-category="{{ item.category }}">
            <img alt="image" class="item_image img-responsive"
                 src="{{ url_for('static', filename='img/gallery/jewelry/full/j01.jpg') }}">
            <h6 class="item_name">{{ item.title }}</h6>
            <h6 style="display:inline">$</h6>
            <h4 class="item_price price text-muted" style="display:inline">{{ item.price }}</h4>

            <div class="item-caption">
                <a class="btn btn-default btn-lg view-details" href="{{ url_for('main.shop_item', item_id=item.id) }}">
                    VIEW DETAILS
                </a>
                <a class="item_add btn quick-add-cart" href="javascript:">
                    <i class="fa fa-cart-plus fa-inverse fa-3x"></i>
                </a>
            </div>

            <div class="hidden date">{{ item.creation_date }}</div>
        </div>
    {% endfor %}
    </div>
</div>

<!-- Populate gallery elements -->
{% for img in gallery_images %}
    <a href="{{ url_for('static', filename='img/gallery/jewelry/full/%s' % (img)) }}" title="" data-gallery></a>
{% endfor %}

<!-- Bootstrap Image Gallery lightbox -->
<div id="blueimp-gallery" class="blueimp-gallery blueimp-gallery-controls">
    <!-- The container for the modal slides -->
    <div class="slides"></div>
    <!-- Controls for the borderless lightbox -->
    <h3 class="title"></h3>
    <a class="prev">‹</a>
    <a class="next">›</a>
    <a class="close">×</a>
    <a class="play-pause"></a>
    <ol class="indicator"></ol>
    <!-- The modal dialog, which will be used to wrap the lightbox content -->
    <div class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" aria-hidden="true">&times;</button>
                    <h4 class="modal-title"></h4>
                </div>
                <div class="modal-body next"></div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default pull-left prev">
                        <i class="glyphicon glyphicon-chevron-left"></i>
                        Previous
                    </button>
                    <button type="button" class="btn btn-primary next">
                        Next
                        <i class="glyphicon glyphicon-chevron-right"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>



{% endblock %}
