<div class="box-container">
    <div class="row text-center">
        <div class="button-group filter-button-group">
            <button class="btn btn-sm btn-default" data-filter="*">All</button>
            <button class="btn btn-sm btn-default" data-filter=".necklace">Necklaces</button>
            <button class="btn btn-sm btn-default" data-filter=".earring">Earnings</button>
            <button class="btn btn-sm btn-default" data-filter=".ring">Rings</button>
            <button class="btn btn-sm btn-default" data-filter=".bracelet">Bracelet</button>
            <button class="btn btn-sm btn-default" data-filter="">Gallery</button>
        </div>
    </div>
</div>