{% extends "base.html" %}

{% block head %}
    {{ super() }}
    <meta property="og:url"           content="{{ request.url }}" />
    <meta property="og:type"          content="website" />
    <meta property="og:title"         content="{{ item.title }}" />
    <meta property="og:description"   content="{{ item.description }}" />
    <meta property="og:image"         content="{{ request.host }}/static/{{ images[0] }}" />
{% endblock %}

{% block content %}

<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '855177671263227',
      xfbml      : true,
      version    : 'v2.4'
    });
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "//connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
</script>

<style>
    .item_image {
        display: none;
    }
    .flex-direction-nav a.flex-next, .flex-direction-nav a.flex-prev {
        display:none;
    }
</style>

<div class="box" style="padding:0;">
    <div class="row">
        <div class="col-sm-12">
            <ol class="breadcrumb" style="padding:15px 0 0 15px">
                <li><a href="{{ url_for('main.index') }}">Home</a></li>
                <li><a href="{{ url_for('main.shop') }}">Back to Shop</a></li>
                <li class="active">{{ item.title }}</li>
            </ol>
        </div>
    </div>
</div>

<div class="box">
    <div class="row">
        <div class="col-sm-6">

            <div class="flexslider">
              <ul class="slides">
                  {% for img in images %}
                      <li data-thumb="{{ url_for('static', filename=img) }}">
                          <img id='flex-image' src="{{ url_for('static', filename=img) }}" />
                      </li>
                  {% endfor %}
              </ul>
            </div>

            <div class="links" style="position:relative; top:-50px">
                {% for img in images %}
                    <a href="{{ url_for('static', filename=img) }}" title="" data-gallery>
                    {% if loop.index == 1 %}
                        <i class="fa fa-picture-o"></i> Fullscreen Slideshow
                    {% endif %}
                    </a>
                {% endfor %}
            </div>

        </div>

{#    <script>#}
{#        function item_add_qty (title, price, image) {#}
{#            simpleCart.add({#}
{#                name: title ,#}
{#                price: price ,#}
{#                quantity: $('#qty').val(),#}
{#                image: image#}
{#            });#}
{#        }#}
{#    </script>#}

        <div class="col-sm-6">
            <div class="simpleCart_shelfItem">
                <!-- Add a hidden reference to the item image for simplecart -->
                <img alt="image" src="{{ url_for('static', filename=images[0]) }}" class="item_image" />
                <h4 class="item_name" style="display:inline">{{ item.title }}</h4>
                <h3 class="item_price text-muted text-right" style="display:inline">$<span id="price">{{ item.options[0].price|round|int }}</span></h3>
{#                <h3 class="item_price text-muted text-right" style="display:inline">${{ item.price|round|int }}</h3>#}
{#                <h3 class="item_price text-muted text-right" style="display:inline">${{ item.options[0].price|round|int }}</h3>#}

                <hr style="max-width:1000px">

                <p>{{ item.description }}</p>

                <hr style="max-width:1000px">

                <label for="item_size">{{ option_label }}</label>

                <br>

                {# Build map of options and prices #}
                {% for opt in item.options %}
                    <input type="hidden" name="opt_{{ opt.name|replace(' ', '') }}_price" id="opt_{{ opt.name|replace(' ', '') }}_price" value="{{ opt.price }}" />
                {% endfor %}

                <select id="item_size" class="item_size form-control" onchange="update_price(this);" style="width:240px; display:inline-block">
                    {% for opt in item.options %}
                        <option value="{{ opt.name|replace(' ', '') }}">{{ opt.name }}</option>
                    {% endfor %}
                </select>

                <hr style="max-width:1000px">

                <style>
                    .qty-btn {
                        background-color: darkgray;
                        border-color: #868686;
                        color: white;
                    }
                    .qty-btn:hover {
                        background-color: darkgreen;
                        color: white;
                    }
                </style>

                <div class="form-inline" style="padding:0 10px 10px 0; width:100%">

                    <div style="display:inline-flex">
                        <div class="input-group quantity-select" style="width:110px;">
                            <span class="input-group-btn">
                                <button id="qty-minus" class="btn qty-btn">-</button>
                            </span>

                            <label for="qty"></label>
                            <input id="qty" type="text" class="form-control qty-value item_Quantity" value="1" disabled style="width:45px"/>
                            <input type="hidden" id="max_qty" value="{{ item.quantity }}" />

                            <span class="input-group-btn">
                                <button id="qty-plus" class="btn qty-btn">+</button>
                            </span>
                        </div>
                    </div>

                    <button class="btn btn-default item_add" style="position:relative; top: 6px">
                        <i class="fa fa-cart-plus"></i> Add to Cart
                    </button>

                </div>

                {# Social media buttons #}
                <style>
                    .share-btn {
                        height: 28px;
                        margin-top: -20px;
                        position: relative;
                        vertical-align: middle;
                        line-height: 0
                    }
                    .share-btn i {
                        font-size:22px;
                        position:relative;
                        bottom:3px;
                        right:3px
                    }
                    a.share-btn:hover {
                        background-color: white;
                    }
                </style>

                <script>
                    function facebook_share(url, title) {
                        window.open('http://www.facebook.com/sharer/sharer.php?u=' + url + '&t=' + title,
                                'facebook_share', 'height=320, width=640, toolbar=no, menubar=no, scrollbars=no, resizable=no, location=no, directories=no, status=no');
                    }
                    function google_share(url) {
                        window.open('https://plus.google.com/share?url=' + url,
                                'google_share', 'height=320, width=640, toolbar=no, menubar=no, scrollbars=no, resizable=no, location=no, directories=no, status=no');
                    }
                </script>

                <a href="//www.pinterest.com/pin/create/button/?url=http%3A%2F%{{ request.host }}%2Fshop%2F{{ item.id }}&media=http%3A%2F%2F{{ request.host }}%2Fstatic%2F{{ images[0]|replace('/', '%2F') }}&description=Rocky%20Pardo%20Jewelry" data-pin-do="buttonPin" data-pin-config="none" data-pin-color="white" data-pin-height="28">
                    <img src="//assets.pinterest.com/images/pidgets/pinit_fg_en_rect_white_28.png" />
                </a>

{#                <div class="g-plus" data-action="share" data-annotation="none" data-height="28" data-href="{{ request.url }}"></div>#}
{#                <a href="https://plus.google.com/share?url={{ request.url }}" target="_blank">google</a>#}

                <a class="btn btn-default share-btn" href="javascript:" onclick='google_share("{{ request.url }}")'>
                    <i class="fa fa-google-plus" style="color:#D50F25"></i> <span style="position:relative; bottom: 8px"><strong>Share</strong></span>
                </a>

                <a class="btn btn-default share-btn" href="javascript:" onclick='facebook_share("{{ request.url }}", "{{ item.title }}")'>
                    <i class="fa fa-facebook" style="color:#3b5998; font-size:22px; position:relative; bottom:3px; right:3px"></i> <span style="position:relative; bottom: 8px"><strong>Share</strong></span>
                </a>

            </div>
        </div>

    </div>
</div>

{# TODO move blueimp stuff into its own template #}

<!-- BlueImp Gallery -->
<div id="blueimp-gallery" class="blueimp-gallery blueimp-gallery-controls">
    <!-- The container for the modal slides -->
    <div class="slides"></div>
    <!-- Controls for the borderless lightbox -->
    <h3 class="title"></h3>
    <a class="prev">‹</a>
    <a class="next">›</a>
    <a class="close">×</a>
    <a class="play-pause"></a>
    <ol class="indicator"></ol>
    <!-- The modal dialog, which will be used to wrap the lightbox content -->
    <div class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" aria-hidden="true">&times;</button>
                    <h4 class="modal-title"></h4>
                </div>
                <div class="modal-body next"></div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default pull-left prev">
                        <i class="glyphicon glyphicon-chevron-left"></i>
                        Previous
                    </button>
                    <button type="button" class="btn btn-primary next">
                        Next
                        <i class="glyphicon glyphicon-chevron-right"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

{# Added to Cart Modal TODO put in a template #}
<div id="add-{{ item.title.replace(' ', '') }}" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" style="height:65px">
                <button type="button" class="close" data-dismiss="modal"><i class="fa fa-times-circle-o fa-2x"></i></button>
            </div>
            <div class="modal-body text-center">
                <p><strong>{{ item.title }}</strong> was added to your Shopping Cart!</p>
                <img src="{{ url_for('static', filename=images[0]) }}" style="max-width:256px">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-diamond"></i> Continue Shopping</button>
                <a href="{{ url_for('main.cart') }}" class="btn btn-primary"><i class="fa fa-shopping-cart"></i> View Cart</a>
            </div>
        </div>
    </div>
</div>

{% endblock %}
