{% extends "base.html" %}

{% block content %}

<div class="row">
    <div class="box">
{#        <div class="col-lg-12">#}
{#            <hr>#}
{#            <h2 class="intro-text text-center">Company#}
{#                <strong>blog</strong>#}
{#            </h2>#}
{#            <hr>#}
{#        </div>#}
        <div class="col-lg-12 text-center">
{#            <img class="img-responsive img-border img-full" src="../static/img/slide-1.jpg" alt="">#}
            <hr>
            <h2>Artist Statement
                <br>
                <small>June 7, 2015</small>
            </h2>
            <hr>
            <div class="text-left">
                <p>My fascination with the minutia within a grand whole is one of the drives behind my art.
                    I relish in the little observed, hard to find, quiet and lavishly ornate beauties of the
                    small and insignificant; or “unevents” as I see them. I examine the world as if to hold
                    every dust mite and sand grain under a microscope, breaking down the smallest into even
                    smaller. It is from that point that I then create my art.
                </p>
                <p>The circle has become the core symbol in the language of my work. Establishing each circle
                    is to consider a new idea, concept, or perspective in which the world can be understood.
                    My curious and quiet contemplation of my surrounding influences are translated into this
                    unfolding of marks into an open and empty plane. Both in precious metals and on paper,
                    I fill voids and negative spaces with these symbols. This creates a new negative space,
                    more subtle yet more intricately connected, delicately held together by the sinuous veins
                    between each individual mark.
                </p>
                <p>I am also interested in the dichotomy that arises from the ambiguity of uniqueness when
                    individuals are presented as a dense amalgamation. It is hard to discern what draws the
                    eye in: the mark made or the slivers that exist between that texture, or perhaps that
                    juxtaposition of the two. It is this ongoing dialectic that I find in my work and my
                    processes that I believe to be the true work as it exists in the realm of the subjective
                    rather than the objective. This experience of process, the viewer’s engagement in the
                    work, brings the art to fruition. The process is like a circle, without beginning or end
                    but constantly reaching itself and perpetuating a structure of limitations and
                    transcendence.
                </p>
            </div>
{#            <a href="#" class="btn btn-default btn-lg">Read More</a>#}
            <hr>
        </div>
    </div>
</div>

{% endblock %}